body{
	margin: 0 auto;
	font-family: 'Comfortaa', sans-serif;
}

.main_part{
	background-image: url("../images/back.jpg");
	height: 75vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin-top: -25px;
	display: flex;
	justify-content: center;
	align-items: center;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #000;
}

.part_2{
	background-color: #fff;
	height: 75vh;
	display: flex;

}

.calc_img{
	background-color: #e2ea1f;
	height: 75vh;
	width: 40%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.calc_txt {
  background-color: #fff;
  height: 75vh;
  width: 60%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 20px 0px 20px;
}

.part_3{
	background-color: #fff;
	height: 75vh;
	display: flex;

}

.ttt_img{
	background-color: #fff;
	height: 75vh;
	width: 40%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.ttt_txt {
  background-color: #e2ea1f;
  height: 75vh;
  width: 60%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 20px 0px 20px;
}

a {
	text-decoration: none;
	color: #761b9d	;
}

h1{
    font-family: 'Russo One', sans-serif;
	color: #ffffff;
	font-size: 80px;
}
h2{
	color: #761b9d;
	font-size: 50px;
	font-family: 'Russo One', sans-serif;
}

h3{
	font-size: 25px;
}

h4{
	font-size: 20px;
}